In [10]:
# ML team assignment
# Name : Priyanshu Jha
# Reg  : BL.EN.U4CSE21165

In [11]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_excel("lab02.xlsx" , sheet_name="thyroid0387_UCI" )
df.head()

,Record ID,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,...,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,TBG,referral source,Condition
0,840801013,29,F,f,f,f,f,f,f,f,...,f,?,f,?,f,?,f,?,other,NO CONDITION
1,840801014,29,F,f,f,f,f,f,f,f,...,t,128,f,?,f,?,f,?,other,NO CONDITION
2,840801042,41,F,f,f,f,f,f,f,f,...,f,?,f,?,f,?,t,11,other,NO CONDITION
3,840803046,36,F,f,f,f,f,f,f,f,...,f,?,f,?,f,?,t,26,other,NO CONDITION
4,840803047,32,F,f,f,f,f,f,f,f,...,f,?,f,?,f,?,t,36,other,S

In [13]:
print(df['Record ID'].dtype)
print(df['age'].dtype)
print(df['sex'].dtype)
print(df['on thyroxine'].dtype)
print(df['on antithyroid medication'].dtype)
print(df['sick'].dtype)
print(df['pregnant'].dtype)
print(df['thyroid surgery'].dtype)
print(df['I131 treatment'].dtype)
print(df['TT4 measured'].dtype)
print(df['TT4'].dtype)
print(df['T4U measured'].dtype)
print(df['T4U'].dtype)
print(df['FTI measured'].dtype)
print(df['FTI'].dtype)
print(df['TBG measured'].dtype)
print(df['TBG'].dtype)
print(df['Condition'].dtype)

int64
int64
object
object
object
object
object
object
object
object
object
object
object
object
object
object
object
object

In [15]:
missing_data = df.isnull()
Percentage = (len(missing_data)/len(df))*100
print("No. of missing value: \n",Percentage)

No. of missing value:
 100.0